[Unit]
Description=Odoo20IoT notification service
After=network-online.target

[Service]
Type=simple
ExecStart=/home/xfusion/projects/odoo20iot/deploy/systemd/run-svc-notify.sh
Restart=always
RestartSec=5
TimeoutStopSec=20
KillMode=mixed
NoNewPrivileges=true

[Install]
WantedBy=default.target
